.app {
  display: grid;
  width: 400px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 80px repeat(5, 60px);
  grid-template-areas:
    "res res res res"
    "7 8 9 reset"
    "4 5 6 reset"
    "1 2 3 reset"
    "0 dot plus minus"
    "equal equal times div";
  border: 2px solid teal;
  border-radius: 4px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: bold;
}
h1:hover {
  color: teal;
}

h3 {
  text-align: right;
  margin: 15px 15px 0 0;
  font-size: 2.8rem;
  grid-area: res;
  color: black;
}

button {
  font-size: 1.4rem;
  background: teal;
  color: white;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: rgb(6, 128, 128, 0.301);
  color: teal;
}
#equal {
  grid-area: equal;
}
#clear {
  grid-area: reset;
}
